<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _cvhead.html %}


</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}



<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article class="page">
    <h1>{{ page.title }}</h1>

   <div class="resume">
      {{ content }}
</div>
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <!--  {% include _footer.html %}-->
  <footer role="contentinfo">
    <small class="byline"><strong>{{ page.title }}</strong> {% if page.modified %} was last modified on <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time>{% endif %}.</small>
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
